.genre-select {
  position: relative;
  display: inline;
}

.grid-align {
  margin: 0 auto;
  display: inline-block;
  height: 100%;
}

.grid {
  display: inline-block;
  margin: 2.5% auto;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.grid-item {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  display: inline-block;
  /* position: relative; */
  margin: 0px 5px 0px 0px;
}

.grid-item:hover .genre-back {
  background-color: rgba(34, 34, 34, 0.9);
  transform: skewX(45deg);
  margin-top: -100%;
  animation: fromBottom .25s;
  display: inline;
}

.genre-text {
  display: inline;
  color: #ede7e3;
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-weight: bold;
  width: 90%;
  letter-spacing: 1.1px;
  transform: skewX(-45deg);
  margin: 0 auto;
  padding-left: 5%;
}


@media screen and (min-width: 320px) and (max-width: 374px) {
  .grid-sizer, .grid-item {
    height: 45px;
    width: 45px;
  }

  .genre-back {
    height: 45px;
    width: 60px;
    margin-left: -25px;
  }

  .genre-text {
    font-size: .4rem;
    padding: 45% 37.5%;
  }

  .genre-hover:hover .genre-back {
    max-height: 45px;
    max-width: 45px;
  }

  @keyframes fromBottom {
    0% {
      margin-left: -45px;
    }

    25% {
      margin-left: -40px;
    }

    50% {
      margin-left: -35px;
    }

    75% {
      margin-left: -30px;
    }

    100% {
      margin-left: -25px;
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
  .grid-sizer, .grid-item {
    height: 60px;
    width: 60px;
  }

  .genre-back {
    height: 60px;
    width: 80px;
    margin-left: -30px;
  }

  .genre-text {
    font-size: .6rem;
    padding: 40% 35%;
  }

  .genre-hover:hover .genre-back {
    height: 60px;
    width: 60px;
  }

  @keyframes fromBottom {
    0% {
      margin-left: -50px;
    }

    25% {
      margin-left: -45px;
    }

    50% {
      margin-left: -40px;
    }

    75% {
      margin-left: -35px;
    }

    100% {
      margin-left: -30px;
    }
  }
}

@media screen and (min-width: 425px) and (max-width: 574px) {
  .grid-sizer, .grid-item {
    height: 75px;
    width: 75px;
  }

  .genre-back {
    height: 75px;
    width: 100px;
    margin-left: -40px;
  }

  .genre-text {
    font-size: .7rem;
    padding: 40% 37.5%;
  }

  .genre-hover:hover .genre-back {
    height: 75px;
    width: 75px;
  }

  @keyframes fromBottom {
    0% {
      margin-left: -60px;
    }

    25% {
      margin-left: -55px;
    }

    50% {
      margin-left: -50px;
    }

    75% {
      margin-left: -45px;
    }

    100% {
      margin-left: -40px;
    }
  }
}

@media screen and (min-width: 575px) and (max-width: 767px) {
  .grid-sizer, .grid-item {
    height: 95px;
    width: 95px;
  }

  .genre-back {
    height: 95px;
    width: 120px;
    margin-left: -50px;
  }

  .genre-text {
    font-size: .8rem;
    padding: 40% 40%;
  }

  .genre-hover:hover .genre-back {
    height: 95px;
    width: 95px;
  }

  @keyframes fromBottom {
    0% {
      margin-left: -70px;
    }

    25% {
      margin-left: -65px;
    }

    50% {
      margin-left: -60px;
    }

    75% {
      margin-left: -55px;
    }

    100% {
      margin-left: -50px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .grid-sizer, .grid-item {
    height: 110px;
    width: 110px;
  }

  .genre-back {
    height: 110px;
    width: 160px;
    margin-left: -55px;
  }

  .genre-text {
    font-size: 1rem;
    padding: 40% 35%;
  }

  .genre-hover:hover .genre-back {
    height: 110px;
    width: 110px;
  }

  @keyframes fromBottom {
    0% {
      margin-left: -75px;
    }

    25% {
      margin-left: -70px;
    }

    50% {
      margin-left: -65px;
    }

    75% {
      margin-left: -60px;
    }

    100% {
      margin-left: -55px;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .grid-sizer, .grid-item {
    height: 130px;
    width: 130px;
  }

  .genre-back {
    height: 130px;
    width: 200px;
    margin-left: -65px;
  }

  .genre-text {
    font-size: 1.25rem;
    padding: 40% 30%;
  }

  .genre-hover:hover .genre-back {
    height: 130px;
    width: 130px;
  }

  @keyframes fromBottom {
    0% {
      margin-left: -85px;
    }

    25% {
      margin-left: -80px;
    }

    50% {
      margin-left: -75px;
    }

    75% {
      margin-left: -70px;
    }

    100% {
      margin-left: -65px;
    }
  }
}

@media screen and (min-width: 1440px) and (max-width: 1749px) {
  .grid-sizer, .grid-item {
    height: 160px;
    width: 160px;
  }

  .genre-back {
    height: 160px;
    width: 200px;
    margin-left: -80px;
  }

  .genre-text {
    font-size: 1.65rem;
    padding: 40% 40%;
  }

  .genre-hover:hover .genre-back {
    height: 160px;
    width: 160px;
  }

  @keyframes fromBottom {
    0% {
      margin-left: -105px;
    }

    25% {
      margin-left: -100px;
    }

    50% {
      margin-left: -95px;
    }

    75% {
      margin-left: -90px;
    }

    100% {
      margin-left: -85px;
    }
  }
}

@media screen and (min-width: 1750px) {
  .grid-sizer, .grid-item {
    height: 200px;
    width: 200px;
  }

  .genre-back {
    height: 200px;
    width: 260px;
    margin-left: -100px;
  }

  .genre-hover:hover .genre-back {
    height: 200px;
    width: 200px;
  }
}

@media screen and (min-width: 1750px) and (max-width: 1999px) {
  .genre-text {
    font-size: 2rem;
    padding: 40% 40%;
  }
}

@media screen and (min-width: 2000px) {
  .genre-text {
    font-size: 2.25rem;
    padding: 42.5% 37.5%;
  }

  @keyframes fromBottom {
    0% {
      margin-left: -125px;
    }

    25% {
      margin-left: -120px;
    }

    50% {
      margin-left: -115px;
    }

    75% {
      margin-left: -110px;
    }

    100% {
      margin-left: -105px;
    }
  }
}
