.sort-list {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.span-background {
  background-color: #f3f0ed;
  position: relative;
  z-index: -1;
}

.listing{
  width: 100%;
  display: inline-block;
  position: relative;
}

.row {
  margin: 0;
  position: relative;
  z-index: -1;
  display: inline-block;
  width: 100%;
}

.image-icon-invisible {
  visibility: hidden;
}

.image-icon {
  width: 12.5%;
  margin: 2% 6%;
  padding: 0% 2%;
  position: relative;
  z-index: 0;
  display: inline-block;
}
